<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${account.accountName}]]</title>
</head>
<body>

<div>
    <div>
        <h1>[[${account.accountName}]]</h1>
    </div>

    <div>
        <div>
            <form action="" method="post">
                <div>
                    <label>Change Your Account Name:</label>
                    <input type="text" th:field="${account.accountName}"/>
                </div>
                <div>
                    <input type="submit" value="Update Account"/>
                </div>
                <a th:href="@{/users/{userId}(userId=${user.userId})}">
                    <i></i>
                </a>
            </form>
            <form th:action="@{/users/{userId}/accounts/{accountId}/delete(userId=${user.userId}, accountId=${account.accountId})}"
                  method="post">
                <input type="submit" value="Delete User Account"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>
